{% extends "base.html" %}

{% block content %}

{% load staticfiles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/task_dashboard.css' %}">
<div class="container">
    <h1 style="text-align: center;">Ariana Grande</h1>

    <div class="col-sm-6" >
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Feed : {{ feed_count }}
    </div>
    <div class="col-sm-6" >
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        Friends : {{ friends_count }}
    </div>
    <div class="" style="padding: 30px;font-size: 25px;">
        Latest Post<br>
        {% if latest_post %}
        <img src="https://thumb.ibb.co/iUaq5b/if_arrow138_216456.png" width="100" height="100" style="padding: 20px;" class="img-circle"> Ariana Grande <br>
        <h2 class="status">{{ latest_post.status }}</h2>
        <h6 class="tanggal">{{ latest_post.created_date }}</h6>
        {% else %}
        <p>No post yet</p>
        {% endif %}
    </div>
</div>
{% endblock %}