{% extends "base.html" %}

{% block content %}

{% load staticfiles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tugas_profile.css' %}">

<h1 class="main-title">PROFILE</h1>
<p>
	<img class="img-circle" src="http://78.media.tumblr.com/696e677b7638ed105f875c36b737b16d/tumblr_o1bfnuUfQp1tg72yro1_250.gif" align="center">
</p>
<h2 class="username">{{ u_name }}</h2>

<hr>

<table class="tabel-profile" align="center" width="400" cellpadding="40" cellspacing="20">
        <tr>
            <td class="subject">Birthdate</td>
            <td class="value">{{ birth_date }}</td>
        </tr>
        <tr>
            <td class="subject">Gender</td>
            <td class="value">{{ gender }}</td>
        </tr>
    	<tr>
    		<td class="subject">Expertise</td> 
    		<td class="val-exp">{% for ii in exp %}<span class="expertise">{{ ii }}</span>{% endfor %}
            </td> 
        </tr>
        <tr>
            <td class="subject">Description</td>
            <td class="value">{{ desc }}</td>
        </tr>
        <tr>
            <td class="subject">Email</td>
            <td class="value">{{ email }}</td>
        </tr>
</table>
<hr/>
{% endblock %}