body {
	font-family: 'Raleway';
}

.col-sm-6{		
	padding: 30px;
	font-size: 25px;
}

#big-jongsuk{
	padding: 20px;
	margin-left: 42%;
}

@media (max-width: 767px){
	#big-jongsuk{
		margin-left: 25%; 
		text-align: center; 
	}
}