<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  	<meta name="description" content="Profile Page">
  	<meta name="author" content="Fannyah Dita">
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<title>{{ u_name }}</title>
</head>
<style>
	h1{
		text-align: center;
		font-family: 'Quicksand';
		font-size: 50px;
		padding: 20px;
	}
	td {
		padding-right: 20px;
		padding-left: 10px;
		padding-bottom: 5px;
		text-align: center;
	}
	table {
		font-family: 'Quicksand';
		margin-top: 20px;
		margin-left: 500px;
	}

	img{
		position: absolute;
		top: 100px;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 50%;
	}
	h2{
		font-family: 'Quicksand';
		font-size: 40px;
		margin-top: 310px;
	}

</style>
<body style="background-color: white">
	<content>
		{% block content %}
		{% endblock %}
	</content>
</body>