<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">    

    <title> 
        Ling In - {{ title }}
    </title>
</head>
<style type="text/css">
    body{
        background: #80A6C3;
    }
    h2, button{
        font-family: 'Quicksand';
    }
    h1{
        text-transform: uppercase;
        font-family: 'Quicksand';
    }
    a, footer{
        font-family: 'Quicksand';
        font-size: 20px;
    }
</style>

<body>
    <header>
        <!-- templates/lab_5/partials/header.html -->
        <nav class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="">Ling In</a>
            </div>
            
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <!-- LINK MENUJU table, dan link menuju home#form -->
                <li><a href="/update_status/">Status</a> </li>
                <li><a href="/profile/">Profile</a></li>
                <li><a href="/friend/">Friends</a> </li>
                <li><a href="/dashboard/">Stats</a> </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
    </header>

    <content>
        {% block content %}
                <!-- content goes here -->
        {% endblock %}
    <content>

    <footer>
        <p align="center">&copy; Created by {{ author }}</p>
    </footer>
    
    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>