
.main-title{
	text-align: left;
	font-family: 'Quicksand';
	font-size: 35px;
	padding: 20px;
	text-align: center;
}

.username{
	font-family: 'Quicksand';
	font-size: 50px;
	margin-top: 290px;
	text-align: center;
	}

.subject{
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 5px;
	text-align: right;
	font-size: 20px;
	font-weight: bold;
}

.value{
	padding-right: 20px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 18px;
}
.val-exp{
	padding-right: 20px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-align: left;
}

.expertise{
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	border: 1px solid black;
	border-radius: 20px; 
}

@media screen and (max-width: 768px){
	.expertise{
		padding-right: 10px;
		padding-left: 10px;
		padding-top: 0px;
		padding-bottom: 0px;
		text-align: center;
		border: 1px solid black;
		border-radius: 20px; 
	}
}

.tabel-profile {
	font-family: 'Quicksand';
	margin: auto;
	margin-top: 20px;
	margin-left: 35%;
	width: 50%;
}

@media screen and (max-width: 768px){
	.tabel-profile{
		font-family: 'Quicksand';
		margin: auto;
		margin-top: 20px;
		margin-left: 25%;
		width: 50%;
	}
}

.img-circle{
	position: absolute;
	top: 180px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
	border: 5px solid black;
}
hr{
	padding-left: 120px;
	padding-right: 120px;
}