.navbar-static-top {
  margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}
#input-list{

	width: 800px;
	height: 350px;
	margin: 50px auto;
	text-align: left;
	background: #dee2f9;
	border: 0 none;
	border-radius: 8px;
	padding: 20px 30px;
	box-sizing: border-box;
}
.img-circle{
	margin-bottom: 20px;
}
.status-form-textarea{
  	padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
     max-width: 100%;
    box-sizing: border-box;
    color: #166fce;
    font-size: 20px;

  position: relative;
}
#my-list{
	margin-left: 180px;
	margin-right: 180px;
	padding: 40px;
    border: 5px solid #ccc;
}
.title{
	font-size: 60px;
	text-align: center;
  margin-bottom: 50px;
	color: #fff;
  margin-bottom: 1em;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
}
.status-message{
	color: purple;
	font-size: 20px;
	padding-left: 30px;
	padding-bottom: 30px;
	padding-top: 30px;
}

.status-date-added{
	color: black;
	font-size: 15px;

}
.to-do-list-delete-button{
	color: red;

} 

@media only screen and (max-width: 768px) {
  #input-list {
      width: 290px;
  }
  .to-do-list .to-do-list-delete {
    bottom: -50px;
  }
  .flex-item{
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }
  .title{
    font-size: 30px;
  }
}