{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/task_friend.css' %}">

<h1 style="text-align:center;" class="jarak">Friend</h1>

<section name="form" style="background:lightgrey;" class="jarak">
    <div class="container">
    <h2>Add Friends</h2>
    <form id="form" method="POST" action="{% url 'friend:add_friend' %}">
        
        {% csrf_token %}
        
            <div class="row">
            {% for field in form  %}
              <div class="col-sm-1">
                {{ field.label_tag }}
              </div>
              <div class="col-sm-11">
                {{ field }} 
              </div>
            {% endfor %}
            </div>
        
        <button type="submit" class="btn btn-lg btn-default pull-right">Submit</button>
    </form>
    </div>
    
    {% if messages %}
    <br>
    <div class="alert alert-danger text-center jarak">
      <ul class="messages">
        {% for message in messages %}
          <div>{{ message }}</div>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

</section>

<br>
<br>

<section name="my-list" id="my-list">
    <div class="container">
        <h2>List Friends</h2>

            <div class="flex">
                {% if friend %}
                    {% for data in friend %}
                        <div class="flex-item">
                            <div class="to-do-list">
                                <div class="to-do-list-title">
                                    {{data.name}}
                                </div>
                                <div class="to-do-list-date-added">
                                    {{data.date}}
                                </div>
                                <div class="to-do-list-description">
                                    <img height="105" witdh="105" class="img-circle" src="http://www.colorado.edu/biofrontiers/sites/default/files/styles/small/public/people/cassidythompson.png?itok=2Cx5T92l" align="center">
                                </div>
                                <div class="to-do-list-delete">
                                    <div class="to-do-list-delete-button"><a href={{data.url}}>{{data.url}}</a></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                <div class="alert alert-danger text-center">
                    <strong>Oops!</strong> Tidak ada data Todo.
                </div>
                {% endif %}
            </div>
        
    </div>
</section>

<hr/>

{% endblock %}