{% extends "base.html" %}

{% block content %}

{% load staticfiles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/update_status.css' %}">
<section name="input-list" id="input-list">
       <form id="form" method="POST" action="{% url 'update_status:add_status' %}">
        <h1><img class = "img-circle" src="http://78.media.tumblr.com/696e677b7638ed105f875c36b737b16d/tumblr_o1bfnuUfQp1tg72yro1_250.gif" style="float:left;" width="50px" height="50px" alt="my-photo" />     Update Status</h1>
            {% csrf_token %}
            {{ status_form }}
            <input id="submit" type="submit" class="btn btn-lg btn-block" value="Post">
            <br>
        </form>
    </section>

        <h1 class="title">Your Status</h1>
    <section name="my-list" id="my-list">
        <div class="flex">
            {% if database %}
                {% for data in database %}
                    <div class="flex-item">
                        <h3 color = "yellow"><img class = "img-circle" src="http://78.media.tumblr.com/696e677b7638ed105f875c36b737b16d/tumblr_o1bfnuUfQp1tg72yro1_250.gif" style="float:left;" width="35px" height="35px" alt="my-photo" />    {{profile_name}}</h3>
                            <div class="status-message">
                                {{data.status}}
                            </div>
                            <div class="status-date-added">
                                {{data.created_date}}
                            </div>
                            <div class="to-do-list-description">
                                {{data.description}}
                            </div>
                            <div class="to-do-list-delete">
                                <div class="to-do-list-delete-button" data-id="{{data.id}}">Delete</div>
                            </div>
                        </div>       
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada data Status.
            </div>
            {% endif %}
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="application/javascript">
    $(function() {
        $('.to-do-list-delete-button').click(function() {
            var id = $(this).data('id')
            location.href = "/update_status/delete/" + id + "/"
        });
    });
</script>
</div>

<hr/>

{% endblock %}  
